# Building the ML dataframe

In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import xarray as xr

In [3]:
# Set max number of columns to display; default 20
pd.options.display.max_columns = 80

In [4]:
# Directory where data files will be downloaded
cwd_path = Path.cwd()
data_path = cwd_path.parent.joinpath('data')
data_push_path = cwd_path.parent.joinpath('data_to_push')

#### Load in latest wind turbine data

In [5]:
# Read in latest turbine data
# Now only 30,642 after removing 3 turbines outside bounding box
df_turbines = pd.read_pickle(data_push_path / 'df_turbines_knn_blades_haversine_elevation.pkl')
df_turbines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30642 entries, 0 to 30641
Data columns (total 30 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   EinheitMastrNummer                                30642 non-null  object
 1   DatumLetzteAktualisierung                         30642 non-null  datetime64[ns]
 2   Bundesland                                        30642 non-null  object
 3   Postleitzahl                                      30642 non-null  int64
 4   Ort                                               30642 non-null  object
 5   Laengengrad                                       30642 non-null  float64
 6   Breitengrad                                       30642 non-null  float64
 7   Registrierungsdatum                               30642 non-null  datetime64[ns]
 8   Inbetriebnahmedatum                               30642 non-null  datetime64[ns]
 9   EinheitBetriebsstatus                             30642 non-null  object
 10  DatumEndgueltigeStilllegung                       1155 non-null   datetime64[ns]
 11  DatumBeginnVoruebergehendeStilllegung             68 non-null     datetime64[ns]
 12  DatumWiederaufnahmeBetrieb                        6 non-null      datetime64[ns]
 13  NameStromerzeugungseinheit                        30642 non-null  object
 14  Nettonennleistung                                 30642 non-null  float64
 15  AnschlussAnHoechstOderHochSpannung                22069 non-null  float64
 16  Einspeisungsart                                   30204 non-null  object
 17  NameWindpark                                      29857 non-null  object
 18  Hersteller                                        30385 non-null  object
 19  Technologie                                       30642 non-null  object
 20  Typenbezeichnung                                  30380 non-null  object
 21  Nabenhoehe                                        30642 non-null  float64
 22  Rotordurchmesser                                  30642 non-null  float64
 23  Rotorblattenteisungssystem                        23265 non-null  float64
 24  area_blades                                       30642 non-null  int64
 25  nearest_grid_point                                30642 non-null  object
 26  nearest_grid_point_elevation                      30642 non-null  float64
 27  turbine_elevation                                 30642 non-null  float64
 28  nearest_grid_point_distance                       30642 non-null  float64
 29  turbine_elevation_relative_to_nearest_grid_point  30642 non-null  float64
dtypes: datetime64[ns](6), float64(11), int64(2), object(11)
memory usage: 7.0+ MB

#### Load in SMARD data

In [108]:
# Get all SMARD CSV files, load into dataframes, and concat them

def load_SMARD_data():
    """
    Look for CSV files in the SMARD directory
    """
    list_of_dataframes = []
    for filepath in data_path.joinpath('SMARD').iterdir():
        if filepath.name.startswith('Realisierte_Erzeugung'):
            list_of_dataframes.append(pd.read_csv(filepath, sep=';'))
            
    # Check that num of rows is what I expect after concatenating dfs
    num_of_rows = 0
    for df in list_of_dataframes:
        num_of_rows += len(df)
    
    # concat dataframes
    df = pd.concat(list_of_dataframes)
    
    # Select columns to keep
    # Note: I'm using the interval start time to create the timestamps
    # ERA5 surface parameters are instantaneous so can't perfectly align anyway
    df = df[[
        'Datum',
        'Anfang',
        # 'Ende',
        'Wind Onshore [MWh] Berechnete Auflösungen'
    ]]
    
    # rename columns
    df.rename(columns={
        'Datum': 'date',
        'Anfang': 'interval_start_time', 
        # 'Ende': 'interval_end_time',
        'Wind Onshore [MWh] Berechnete Auflösungen': 'onshore_generated_mwh'
    }, inplace=True)
    
    # Handle dates and times to create unified datetime64 timestamps
    df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
    df['start_time_delta'] = pd.to_timedelta(df['interval_start_time'] + ':00')
    df['datetime'] = df['date'] + df['start_time_delta']
    # Add CET timezone info and infer change from CET->CEST->CET, etc
    df['datetime'] = df['datetime'].dt.tz_localize('CET', ambiguous='infer')
    
    # Drop un-needed columns
    df = df.drop(columns=['date', 'start_time_delta', 'interval_start_time'])
    # Re-arrange columns
    df = df[['datetime', 'onshore_generated_mwh']]
    
    print(f'Number of rows match up: {num_of_rows == len(df)}')
    
    return df.copy()

In [109]:
# Load SMARD data
df_smard = load_SMARD_data()
df_smard.info()

Number of rows match up: True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   datetime               8760 non-null   datetime64[ns, CET]
 1   onshore_generated_mwh  8760 non-null   object
dtypes: datetime64[ns, CET](1), object(1)
memory usage: 137.0+ KB

In [92]:
# df_smard[df_smard['datetime'] < pd.Timestamp('2022-10-30')]

-----

## Begin building ML dataframe
- Start with one full year: 2022
    - Then bring in another year like 2021 and run through the same transformations and then concat along datetimeindex?
- Good resource on time-related feature engineering: https://scikit-learn.org/stable/auto_examples/applications/plot_cyclical_feature_engineering.html

In [23]:
# Year 2022
# Make time zone aware UTC?
datetime_index_utc = pd.date_range(start='2022-01-01', end='2022-12-31 23:59:59', freq='H', name='datetime_utc', tz='UTC')
datetime_index_utc

DatetimeIndex(['2022-01-01 00:00:00+00:00', '2022-01-01 01:00:00+00:00',
               '2022-01-01 02:00:00+00:00', '2022-01-01 03:00:00+00:00',
               '2022-01-01 04:00:00+00:00', '2022-01-01 05:00:00+00:00',
               '2022-01-01 06:00:00+00:00', '2022-01-01 07:00:00+00:00',
               '2022-01-01 08:00:00+00:00', '2022-01-01 09:00:00+00:00',
               ...
               '2022-12-31 14:00:00+00:00', '2022-12-31 15:00:00+00:00',
               '2022-12-31 16:00:00+00:00', '2022-12-31 17:00:00+00:00',
               '2022-12-31 18:00:00+00:00', '2022-12-31 19:00:00+00:00',
               '2022-12-31 20:00:00+00:00', '2022-12-31 21:00:00+00:00',
               '2022-12-31 22:00:00+00:00', '2022-12-31 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='datetime_utc', length=8760, freq='H')

In [24]:
# Create dataframe from datetimeindex, reset index and drop the duplicated datetime column
# datetime_index_utc.to_frame().reset_index(drop=True, inplace=True)

In [25]:
df = datetime_index_utc.to_frame().reset_index(drop=True)
df

                  datetime_utc
0    2022-01-01 00:00:00+00:00
1    2022-01-01 01:00:00+00:00
2    2022-01-01 02:00:00+00:00
3    2022-01-01 03:00:00+00:00
4    2022-01-01 04:00:00+00:00
...                        ...
8755 2022-12-31 19:00:00+00:00
8756 2022-12-31 20:00:00+00:00
8757 2022-12-31 21:00:00+00:00
8758 2022-12-31 22:00:00+00:00
8759 2022-12-31 23:00:00+00:00

[8760 rows x 1 columns]

In [30]:
# Extract properties
df['hour'] = df['datetime_utc'].dt.hour
# 0-6 (Monday-Sunday)
df['day_of_week'] = df['datetime_utc'].dt.dayofweek
df['day_of_month'] = df['datetime_utc'].dt.day
df['month_number'] = df['datetime_utc'].dt.month

# Function to get meteorological season based on month number (1-12)
# Should I just go ahead and encode the discrete numerical value?
def get_meteorological_season(month):
    if 3 <= month <= 5:
        return 'spring'
    elif 6 <= month <= 8:
        return 'summer'
    elif 9 <= month <= 11:
        return 'autumn'
    else:
        return 'winter'
    
df['meteorological_season'] = df['month_number'].apply(get_meteorological_season)

In [31]:
df

,datetime_utc,hour,day_of_week,day_of_month,month_number,meteorological_season
0,2022-01-01 00:00:00+00:00,0,5,1,1,winter
1,2022-01-01 01:00:00+00:00,1,5,1,1,winter
2,2022-01-01 02:00:00+00:00,2,5,1,1,winter
3,2022-01-01 03:00:00+00:00,3,5,1,1,winter
4,2022-01-01 04:00:00+00:00,4,5,1,1,winter
...,...,...,...,...,...,...
8755,2022-12-31 19:00:00+00:00,19,5,31,12,winter
8756,2022-12-31 20:00:00+00:00,20,5,31,12,winter
8757,2022-12-31 21:00:00+00:00,21,5,31,12,winter
8758,2022-12-31 22:00:00+00:00,22,5,31,12,winter
8759,2022-12-31 23:00:00+00:00,23,5,31,12,winter